<div id="myBook">
<div class="imBookPage" style="background: url(<%= @magazine.cover.url %>"></div>  

<% @pages.to_a.each do |page| -%>
  <div class="imBookPage" style="background: url(<%= page.image.url %>"></div>
<% end-%>
</div>
