<%cache do%>
<table>
<tbody>
  <tr>
  <% for ps in @photosets %> 
     <td> <%=link_to( image_tag("/system/flickr_ps_cache/small/" + ps.photoset_id + ".jpg", :alt => ps.title), 
     ps.url)%>
     </td>
     <tr>
     <td> <%= link_to 'Show photos', :action => 'show_photos', :id => ps.photoset_id %> </td>
     </tr>             
  <% end %>
  </tr>
</tbody>
</table>
<%end%>
