<%cache do%>
<table>
<tbody>
<tr>
<% for photo in @photos %>
  <td>
  <%=link_to (image_tag("/system/flickr_photos_cache/small/" + photo.photo_id + ".jpg", :alt=>photo.title),
  photo.url)%>   
  </td>      
<% end %>
</tr>
</tbody>
</table>
<%end%>
